<html>
<head>
  <title>Welcome</title>
  <!-- we can get react files this way because we downloaded them. Look
 at canonical path-->
  <script src="js/react.js"></script>
  <script src="js/react-dom.js"></script>
  <!--this is a javascript compiler including xml. It does not like comments. Marks those as errors-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js">
  </script>
  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>

</body>
</html>
