<html>
<head>
  <title>You Won!</title>

  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/examMaxScore.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/examMaxScore.css">
</head>
<body>
  <label id="winText">You Won!</label>
  <button class="button" id="homePage">Return to Home</button>
  <button class="button" id="leaderboard">Leaderboards</button>
</body>
</html>
