<html>
<head>
  <meta charset="utf-8">
  <title>You Lost!</title>

  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/gameOver.js"></script>
  <link rel="stylesheet" href="css/gameOver.css">
</head>
<body>
  <div id="background">

  </div>
  <h2 class="text" id="losing_message">You lost!</h2>
  <h2 class="text" id="country_last_asked"></h2>
  <h3 class="text" id="description">Unfortunately, you have lost your way. Julie was not able to bring her passengers
    <br/>to the locations that the cruise promised. She lacked the time to do so, because
    <br/>she had to make a detour from the wrong location she was given.</h3>
  <h4 class="text" id="retry">Retry?</h4>
  <table id="table">
    <tr>
      <td><button id="yes"><label id="retry">Yes</label></button></td>
      <td><button id="no"><label id="retry">Return to Home Page</label></button></td>
    </tr>
  </table>

  <img src="img/anger.jpg" alt="angry person" id="angry_pic">

</body>
</html>
