<html>
<head>
  <title>Leaderboard</title>
  <!-- we can get react files this way because we downloaded them. Look
 at canonical path-->
  <script src="js/react.js"></script>
  <script src="js/react-dom.js"></script>
  <!--this is a javascript compiler including xml. It does not like comments. Marks those as errors-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js">
  </script>
  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta charset="utf-8">
  <link rel="stylesheet" href="css/leaderboard.css">
</head>
<body>

  <% if (userList!=undefined && scoreList!=undefined
      && continentChoiceList!=undefined){ %>
    <script>
      //right way of sending an array (LOOK CAREFULLY THERES A DASH)
      var userListCpy = <%- JSON.stringify(userList) %>;
      //improvised way of doing it (only works with non-strings)
      var scoreListCpy = [<%= scoreList %>];
      var continentChoiceListCpy = <%- JSON.stringify(continentChoiceList) %>;

      //class all the scores by category. Notice alphabetical order
      //0 or undefined: All
      //1: Africa
      //2: Asia
      //3: Europe
      //4: North America
      //5: Oceania
      //6: South America

      var africaScoreList = new Array(0);
      var africaUserList = new Array(0);
      //get all those from africa
      //create another index to follow africa lists
      var j = 0;

      var asiaScoreList = new Array(0);
      var asiaUserList = new Array(0);
      //create another index to follow asia lists
      var k = 0;

      var europeScoreList = new Array(0);
      var europeUserList = new Array(0);
      //create another index to follow europe lists
      var l = 0;

      var NAScoreList = new Array(0);
      var NAUserList = new Array(0);
      //create another index to follow north america lists
      var m = 0;

      var oceaniaScoreList = new Array(0);
      var oceaniaUserList = new Array(0);
      //create another index to follow oceania lists
      var n = 0;

      var SAScoreList = new Array(0);
      var SAUserList = new Array(0);
      //create another index to follow south america lists
      var o = 0;

      var allScoreList = new Array(0);
      var allUserList = new Array(0);
      //create another index to follow all lists
      var p = 0;

      for(var i=0;i<continentChoiceListCpy.length;i++){
        if(continentChoiceListCpy[i]==1){
          africaScoreList[j]=scoreListCpy[i];
          africaUserList[j]=userListCpy[i];
          j++;
        }
        else if(continentChoiceListCpy[i]==2){
          asiaScoreList[k]=scoreListCpy[i];
          asiaUserList[k]=userListCpy[i];
          k++;
        }
        else if(continentChoiceListCpy[i]==3){
          europeScoreList[l]=scoreListCpy[i];
          europeUserList[l]=userListCpy[i];
          l++;
        }
        else if(continentChoiceListCpy[i]==4){
          NAScoreList[m]=scoreListCpy[i];
          NAUserList[m]=userListCpy[i];
          m++;
        }
        else if(continentChoiceListCpy[i]==5){
          oceaniaScoreList[n]=scoreListCpy[i];
          oceaniaUserList[n]=userListCpy[i];
          n++;
        }
        else if(continentChoiceListCpy[i]==6){
          SAScoreList[o]=scoreListCpy[i];
          SAUserList[o]=userListCpy[i];
          o++;
        }
        else{
          allScoreList[p]=scoreListCpy[i];
          allUserList[p]=userListCpy[i];
          p++;
        }
      }

      //printing all of the arrays' scores with usernames
      document.write("<h2>Weekly High Scores</h2><br/>");
      //africa
      document.write("<label class='continent'>Africa</label> <hr/>");
      if(africaUserList.length > 0){
        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<africaUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+africaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+africaScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+africaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+africaScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //asia
      document.write("<br/><label class='continent'>Asia</label> <hr/>");
      if(asiaUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<asiaUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+asiaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+asiaScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+asiaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+asiaScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //europe
      document.write("<br/><label class='continent'>Europe</label> <hr/>");
      if(europeUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<europeUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+europeUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+europeScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+europeUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+europeScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //north america
      document.write("<br/><label class='continent'>North America</label> <hr/>");
      if(NAUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<NAUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+NAUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+NAScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+NAUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+NAScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //oceania
      document.write("<br/><label class='continent'>Oceania</label> <hr/>");
      if(oceaniaUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<oceaniaUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+oceaniaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+oceaniaScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+oceaniaUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+oceaniaScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //south america
      document.write("<br/><label class='continent'>South America</label> <hr/>");
      if(SAUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<SAUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+SAUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+SAScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+SAUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+SAScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

      //------------------------------------------------------------------------------------
      //all
      document.write("<br/><label class='continent'>All Continents</label> <hr/>");
      if(allUserList.length > 0){

        document.write("<table>");
        document.write("<tr>"+
                          "<td><label class='title'>Username</label></td>"+
                          "<td class='secondElement'><label class='title'>Score</label></td>"+
                        "</tr>");
        for(var i=0;i<allUserList.length;i++){
          if(i%2==0){
            document.write("<tr class='green'><td><label>"+allUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+allScoreList[i]+"</label></td></tr>");
          }
          else{
            document.write("<tr class='forest'><td><label>"+allUserList[i]+"</label></td><td class='secondElement'><label id='score'>"+allScoreList[i]+"</label></td></tr>");
          }
        }

        //end table
        document.write("</table>");
      }

    </script>
  <% } %>
</body>
</html>
