<html>
<head>
  <meta charset="utf-8">
  <title>Log In</title>

  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/login.js"></script>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <p id="logInTitle">Log In</p>

  <label id="notRegistered">Not registered yet? Click
    <a href="register.html">here</a></label>

  <br/>
  <div id="surroundForm">
    <form method = "post">
      <!--NAME IDENTIFIER for nodejs to recognize param-->
      <label id="userField">Username: <input id="username" name="username" type="text"></label><br/>
      <label id="passField">Password: <input id="password" name="password" type="password"></label>

      <br/><br/>
      <input id="submit" type="submit" value="Submit">
    </form>
  </div>

  <% if (message != undefined){ %>
    <label id="message"><%= message %></label>
  <% } %>

  <!--refer to it as submit bc want same physical attributes-->
  <input id="returnHomePage" type="button" value="Return to Home Page">

</body>

</html>
