<html>
<head>
  <title>Select Continent</title>

  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/selectContinentForPlay.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/selectContinentForPlay.css">
</head>
<body>

  <h2>Select the continent you wish to play on</h2>
  <div id="center">
    <button id="africa">Africa</button>
    <button id="asia">Asia</button>
    <button id="europe">Europe</button>
    <button id="north-america">North <br/>America</button>
    <button id="oceania">Oceania</button>
    <button id="south-america">South <br/>America</button>
    <button id="all">All</button>
  </div>
</body>
</html>
