<html>
<head>
  <title>Type of Question</title>

  <!--adding jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/typeGame.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/typeGame.css">
</head>
<body>

  <h2>Select the type of game you want to play</h2>
  <input id="flag" type="button" value="Flag"></input>
  <input id="country" type="button" value="Country"></input>
  <br/>


</body>
</html>
