<html>
<head>
  <title>Type of Question</title>

  <!-- this adds jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/typeQuestion.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/typeQuestion.css">
</head>
<body>

  <h2>Select the type of game you want to play</h2>
  <input id="practice" type="button" value="Practice"></input>
  <input id="exam" type="button" value="Exam"></input>
  <br/>


</body>
</html>
