
svg rect {
    fill: orange;
}

svg text {
    fill:white;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis {
  fill: black;
}

#sectionExam {
  position: absolute;
  left: 50px;
  top: 80px;
}
