@font-face {
  font-family: medieval;
  src:url('../fonts/PrinceValiant.ttf');
}

svg rect {
    fill: #AE0400;
}

svg text {
    fill:white;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis {
  fill: black;
}

#sectionExam {
  position: absolute;
  left: 50px;
  top: 80px;
  font-size: 20px;
  font-family: medieval;
}

#sectionExam2 {
  position: absolute;
  left: 50px;
  top: 3580px;
  font-size: 20px;
  font-family: medieval;
}

body{
  background-color: #F0A3A2;
}

#homePage{
  float: right;
  font-family: medieval;
  position: relative;
  top: 400px;
}

#homePage:hover{
  background-image: url('../img/background-buttons.jpg');
  background-size: auto 100%;
}
